<!doctype html>
<html>
  <head>
    <title>FlaskSimpleListApp | Entries</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/jqueryui/ui/minified/button.min.js"></script>

    <script src="../static/bower_components/js_sebastian/main.js"></script>
    <script src="../static/bower_components/js_sebastian/update.js"></script>
    <script src="../static/bower_components/js_sebastian/init.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Flask SimpleList App</h1>
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
          <dl>
            <dt>Title:
            <dd><input type="text" size="30" name="title">
            <dt>Text:
            <dd><textarea name="text" rows="5" cols="40"></textarea>
            <br>
            <br>
            <dd><input type="submit" class="btn btn-default" value="Add"
                         onclick="myFunction()">
            <h4 id="demo_text">Click on items to delete</h4>
          </dl>
        </form>
      {% endif %}
      <br>
      <ul class="entries" id="sebastian_list">
      {% for entry in entries %}
        <li class="entry"><h2 id={{ entry.post_id }}>{{ entry.title }}</h2>{{ entry.text|safe }}
      {% else %}
        <li><em>No entries yet. Add some!</em>
      {% endfor %}
      </ul>
    </div>


  </body>


</html>
